<div id='window' class='forum-title-icon'>
	<div class='title'>ICONOS.</div>
	<div class='content'>
		<div class='icon failed' icon='failed.png'></div>
		<div class='icon success' icon='success.png'></div>
		<div class='icon locked' icon='locked.png'></div>
		<div class='icon module' icon='module.png'></div>
		<div class='icon setting' icon='setting.png'></div>
		<div class='icon edit' icon='edit.png'></div>
		<div class='icon question' icon='question.png'></div>
		<div class='icon status' icon='status.png'></div>
	</div>
	<div class='button'>QUITAR</div>
</div>
<script>forum.icons();</script>