#side-social .box{
	text-align:center;
	overflow:hidden;
}
#side-social .box .social-icon{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	border-radius:100%;
	box-shadow:0vmin 0vmin 2vmin rgba(255,255,255,0.3);
	width:3.5vmin;
	height:3.5vmin;
	margin:1.5vmin 1vmin;
	display:inline-block;
	cursor:pointer;
	transition:250ms;
}
#side-social .box .social-icon:hover{
	box-shadow:0vmin 0vmin 2vmin rgba(255,255,255,1);
}